In [1]:
import pandas as pd  
import numpy as np 
import glob
import matplotlib.pyplot as plt
import cv2

In [7]:
archivePath = 'C:/Users/Diamondman/Downloads/archive'
test_images = glob.glob(archivePath+'/images to test/*')
train = glob.glob(archivePath+'/train/*/*')
test = glob.glob(archivePath+'/test/*/*')
valid  = glob.glob(archivePath+'/valid/*/*')
classes = glob.glob(archivePath+'/train/*')
print(f'Train set size: {len(train)}\nTest set size: {len(test)}\nValidation set size: {len(valid)}\nTotal number of classes: {len(classes)}' )

Train set size: 70646
Test set size: 2250
Validation set size: 2250
Total number of classes: 450

In [8]:
classes_dict ={}
for i in range(len(classes)):
    classes_dict[classes[i].split('\\')[-1]] = 0
for i in range(len(train)):
    classes_dict[train[i].split('\\')[-2]] +=1 
#Creating a dataframe of the classes and their corresponding img count
df = pd.DataFrame(classes_dict.items(), columns=['class_name', 'count']) 
display(df.head())
display(df.describe())

                   class_name  count
0             ABBOTTS BABBLER    166
1               ABBOTTS BOOBY    180
2  ABYSSINIAN GROUND HORNBILL    179
3       AFRICAN CROWNED CRANE    137
4      AFRICAN EMERALD CUCKOO    154

            count
count  450.000000
mean   156.991111
std     17.428567
min    130.000000
25%    144.000000
50%    155.000000
75%    163.000000
max    248.000000

In [9]:
#Sorting the dataframe by the count of the images
df = df.sort_values(by = 'count', ascending = False)
df.reset_index(drop = True, inplace = True)  
#basic statistics of the classes  
stats = df.describe()
#Defining outliers as classes that surpass the 75th percentile +- 1.5*IQR
high_ourliers = df["class_name"][df["count"] > stats["count"]["75%"] + 1.5 * (stats["count"]["75%"] - stats["count"]["25%"])].values
low_ourliers = df["class_name"][df["count"] < stats["count"]["25%"] - 1.5 * (stats["count"]["75%"] - stats["count"]["25%"])].values
#Print the results
print("High outliers: ", high_ourliers)
print("Low outliers: ", low_ourliers)

High outliers:  ['HOUSE FINCH' 'D-ARNAUDS BARBET' 'OVENBIRD' 'SWINHOES PHEASANT'
 'WOOD DUCK' 'CASPIAN TERN' 'OYSTER CATCHER' 'DARK EYED JUNCO'
 'RED TAILED HAWK' 'VIOLET GREEN SWALLOW' 'SORA' 'CRIMSON SUNBIRD'
 'RED BEARDED BEE EATER' 'CAMPO FLICKER' 'MARABOU STORK' 'NORTHERN PARULA'
 'RAZORBILL' 'BANDED BROADBILL' 'VARIED THRUSH' 'SPOONBILL']
Low outliers:  []

In [ ]:
# dimensions, channels, how many classes? 
# Should we preprocess the data?
# Or is it ready for use?
# Can we use augmentation and what kind of augmentation would be valid?)

In [23]:
shape_dict ={'height':[], 'width':[], 'chanles':[], 'class_name':[], 'image_name':[]}
for path in train:
    img = cv2.imread(path)
    shp =img.shape
    shape_dict['height'].append(shp[0])
    shape_dict['width'].append(shp[1])
    shape_dict['chanles'].append(shp[2])
    shape_dict['class_name'].append(path.split('\\')[-2])
    shape_dict['image_name'].append(path.split('\\')[-1])
    shape_df =pd.DataFrame(shape_dict)

In [27]:
shape_df.describe()

             height         width  chanles
count  70646.000000  70646.000000  70646.0
mean     223.999604    223.999236      3.0
std        0.105345      0.203166      0.0
min      196.000000    170.000000      3.0
25%      224.000000    224.000000      3.0
50%      224.000000    224.000000      3.0
75%      224.000000    224.000000      3.0
max      224.000000    224.000000      3.0